$primary: #0B9ED9;

$body-color: #082032;

$min-contrast-ratio: 3;

$font-family-base: 'Arial, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';

$body-bg: #EEF7FF;

@import "~bootstrap/scss/bootstrap";

body {
  background: linear-gradient(#EEF7FF, #F2F3FF);
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: #255888;
}