$primary: #0b9ed9;

$body-color: #082032;

$min-contrast-ratio: 3;

$font-family-base: 'Arial, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';

$body-bg: #eef7ff;

@import "~bootstrap/scss/bootstrap";

body {
  background: linear-gradient(#eef7ff, #f2f3ff);
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #255888;
}
