@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

.carddeco-container {
  position: relative;
}

@include media-breakpoint-up(lg) {
  .carddeco-container {
    height: 100%;
    width: 100%;
  }
}


.carddeco-box{
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(136, 221, 255, 0.12) 0%, rgba(11, 158, 217, 0.12) 100%);
  border-radius: 20px 20px 0 0;
  transform: translate(-50%, 0);
}