@import '../../bootstrap-theme.scss';
@import '../../variables.scss';

@include media-breakpoint-down(md){
	div.project-container{
		padding-top: 8vh;
	}
}

@include media-breakpoint-down(sm){
	div.project-container{
		padding-top: 12vh;
	}
}

.project-container {
	padding-top: 5vh;
	min-height: 10vh;
}

* {
	color: $gray-900;
}

.project-title {
	position: absolute;
	top: -2vh;
	left: -3vh;
	background-color: theme-color-level('secondary', -1);
	padding: 0.5em 2em;
	color: $text-on-secondary;
}

.project-wrapper {
	padding: 0 20px 10px 20px;
	margin-left: 20px;
}

.project-container > hr {
	margin-bottom: 0;
}

.project-wrapper ::ng-deep *:not(a) {
	color: $text-on-primary;
}

.project-wrapper ::ng-deep a {
	text-decoration: underline;
}

.project-footer  > *{
	text-align: center;
}

.project-footer * {
	color: $text-on-secondary;
}

.project-footer-item {
	padding-bottom: 1vh;
	padding-top: 1.5vh;
}

.project-footer-item * {
	padding: 0.25em;
}