@import '../../bootstrap-theme.scss';
@import '../../variables.scss';

.project-container {
	padding-top: 5vh;
	min-height: 10vh;
}

* {
	color: $gray-900;
}

.project-title {
	position: absolute;
	top: -2vh;
	left: -3vh;
	background-color: theme-color-level('secondary', -1);
	padding: 0.5em 2em;
	color: $text-on-secondary;
}

.project-wrapper {
	padding: 0 20px 10px 20px;
	margin-left: 20px;
}

.project-wrapper ::ng-deep * {
	color: $text-on-primary;
}