@import '../../bootstrap-theme.scss';
@import '../../variables.scss';

.side-expertise-container {
	position: relative;
	margin-bottom: 2em;
}

.side-expertise-type {
	position: absolute;
	top: -1vh;
	left: -4vh;
	background-color: theme-color('primary');
	color: $text-on-primary;
	padding: 10px 20px;
}

.side-expertise-wrapper{
	padding-top: 4vh;
}

.side-expertise-type ::ng-deep p {
	margin: 0;
	color: $text-on-primary;
	font-weight: 500;
}