<div class="content-wrapper">
  <div fxLayout="column" fxLayoutGap="32px" class="main-layout">
    <app-sidebar [sidelist]="sideItems" [sideTitle]="title"></app-sidebar>
    <div fxLayout="column" class="drop-container">
      <app-crbadge class="w-100" [personalDetails]="personalDetails"></app-crbadge>
      <app-socials [socialIcons]="socialList"></app-socials>
    </div>
    <div fxLayout="column" fxLayoutGap="32px" class="project-layout">
    <ng-container *ngFor="let cat of projectList" >
      <h1>{{cat.category}}</h1>
      <hr class="w-100">
      <ng-container *ngFor="let proj of cat.list" >
        <app-project-container [project]="proj"></app-project-container>
      </ng-container>
    </ng-container>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="footer-wrapper">
    Curriculum Web Creato con <a href="https://angular.io/">Angular 10</a>, Copyright 2020 <a href="https://github.com/darkimage">Luca Faggion</a>.
  </div>
</div>