@import '../bootstrap-theme.scss';
@import '../variables.scss';

:host {
	height: 100%;
}

app-crbadge {
	padding-left: $content-margin;
}

.main-layout {
	margin-top: 3vh;
	height: 100%;
}

.project-layout {
	margin-left: $content-margin;
}

.drop-container {
	background-color: theme-color('light');
	// box-shadow: $harddrop;
	-webkit-filter: $harddropwebkit;
}

.content-wrapper {
	position: relative;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-left: $content-margin;
	letter-spacing: -1px;
	font-weight: 500;
	margin-bottom: 0 !important;
}

.footer-wrapper {
	font-size: small;
	color: $text-on-primary;
	border-top: 1px solid darken(theme_color('dark'), 4);
	text-align: end;
}

.footer-wrapper a {
	color: lighten($text-on-primary, 50);
	text-decoration: underline;
}