@import '../bootstrap-theme.scss';
@import '../variables.scss';

$left-margin: 300px;

:host {
	height: 100%;
}

app-crbadge {
	padding-left: $left-margin;
}

.main-layout {
	margin-top: 3vh;
}

.project-layout {
	margin-left: $left-margin;
}

.drop-container {
	background-color: theme-color('light');
	box-shadow: $harddrop;
}

.content-wrapper {
	position: relative;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-left: $left-margin;
	letter-spacing: -1px;
	font-weight: 500;
	margin-bottom: 0 !important;
}