<div class="content-wrapper">
  <div fxLayout="column" fxLayoutGap="32px" class="main-layout">
    <div fxLayout="row" class="drop-container">
      <app-crbadge class="w-100" [personalDetails]="personalDetails"></app-crbadge>
      <app-socials [socialIcons]="socialList"></app-socials>
    </div>
    <h1>Progetti Universitari</h1>
    <hr class="w-100">
    <div fxLayout="column" fxLayoutGap="32px" class="project-layout">
      <app-project-container></app-project-container>
    </div>
  </div>
  <app-sidebar [sidelist]="sideItems" [sideTitle]="title"></app-sidebar>
  <router-outlet></router-outlet>
  <div class="footer-wrapper">
    Curriculum Web Creato con <a href="https://angular.io/">Angular 10</a>, Copyright 2020 <a href="https://github.com/darkimage">Luca Faggion</a>.
  </div>
</div>