@import '../bootstrap-theme.scss';
@import '../variables.scss';

:host {
	min-height: 100%;
}

@include media-breakpoint-down(md){

	div.project-layout {
		margin-left: unset;
	}

	div app-crbadge {
		padding-left: unset;
	}
}

@include media-breakpoint-up(lg){

	div app-sidebar { 
		margin-bottom: unset !important;
	}

}

app-crbadge {
	padding-left: $content-margin;
}

app-sidebar {
	z-index: 10;
}

.main-layout {
	margin-top: 3vh;
	min-height: 100%;
}

// $grid-breakpoints

.project-layout {
	margin-left: $content-margin;
}

.project-layout hr {
	margin-left: -$content-margin / 2;
}

.drop-container {
	background-color: theme-color('light');
	// box-shadow: $harddrop;
	-webkit-filter: $harddropwebkit;
}

.content-wrapper {
	position: relative;
	min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// margin-left: $content-margin;
	letter-spacing: -1px;
	font-weight: 500;
	margin-bottom: 0 !important;
}

.footer-wrapper {
	font-size: small;
	color: $text-on-primary;
	border-top: 1px solid darken(theme_color('dark'), 4);
	text-align: end;
	margin-top: 2vh;
}

.footer-wrapper a {
	color: lighten($text-on-primary, 50);
	text-decoration: underline;
}