@import '../../bootstrap-theme.scss';
@import '../../variables.scss';

img {
	border-radius: 50%;
	max-width: 20vh;
	max-height: 20vh;
	// box-shadow: $lightdrop;
	-webkit-filter: $lightdropwebkit;
	margin: 2vh;
}

.badge-title{
	position: absolute;
    top: 0.2vh;
    left: 2vh;
    color: $text-on-secondary;
    font-weight: 600;
    // box-shadow: 3px solid;
	// text-shadow: $lighttextdrop;
	-webkit-filter: $lighttextdropwebkit;
	font-size: 40px;
	z-index: 10;
}


@include media-breakpoint-down(md){

	div.side-container {
		position: unset;
		max-width: unset;
	}

}

.side-container {
    border-radius: 20px;
	background-color: theme-color('secondary');
	position: absolute;
	top: -3vh;
	left: 3vh;
	bottom: 3vh;
	max-width: $left-margin;
}

.drop-container {
	// box-shadow: $harddrop;
	-webkit-filter: $harddropwebkit;
}

.drop-container-content {
	padding-left: 2vh;
}

div.side-wrapper{

}