@import '../../bootstrap-theme.scss';
@import '../../variables.scss';

img {
	border-radius: 50%;
	max-width: 20vh;
	max-height: 20vh;
	box-shadow: $lightdrop;
}

div.side-container {
    border-radius: 20px;
	overflow: hidden;
	background-color: theme-color('secondary');
	position: absolute;
	top: -3vh;
	left: 3vh;
	bottom: 3vh;
}

.drop-container {
	box-shadow: $harddrop;
}

div.side-wrapper{
}