@import '../../bootstrap-theme.scss';
@import '../../variables.scss';

* {
	color: $text-on-primary;
}

@include media-breakpoint-down(md){
	div div[fxLayout=column] div:not(:first-child) {
		padding-left: unset;
	}

	div.badge-wrapper {
		flex-flow: column wrap !important;
	}

	div.badge-wrapper > * {
		padding-bottom: 1em;
	}

	div.badge-wrapper > div.break-row {
		height: 0;
		padding: 0;
	}
}


div[fxLayout=column] div:first-child ::ng-deep p {
	// text-shadow: $hardtextdrop;
	-webkit-filter: $hardtextdropwebkit;
	color: $text-on-primary;
	font-size: small;
	font-weight: 600;
}

div[fxLayout=column] div:not(:first-child) {
	padding-left: 2vh;
	border-bottom: 1px solid theme-color('primary');
}

div[fxlayout=column] {
	flex-grow: 1;
	flex-basis: 0;
}

div[fxlayout=column] ::ng-deep p {
	margin: 0;
}

div[fxlayout=column] div::ng-deep *:not(a) {
	margin: 0;
	color: $text-on-primary;
}

.break-row {
	height: 1vh;
} 