<div fxLayout="row wrap" fxLayoutGap="5%" fx class="drop-container-content badge-wrapper">
  <ng-container *ngFor="let detail of personalDetails | keyvalue: originalOrder; let i=index" >
    <ng-container *ngIf="detail.key !== ''">
    <div fxLayout="column" class="w-100">
      <div markdown emoji>{{detail.key}}</div>
      <div markdown emoji>{{detail.value}}</div>
    </div>
    </ng-container>
    <div *ngIf="(i+1)%2 === 0 || detail.key === ''" class="break-row"></div>
  </ng-container>
</div>
