@import '../../variables.scss';
@import '../../bootstrap-theme.scss';

.social-icon-wrapper {
	position: absolute;
	right: -5vh;
	top: 1vh;
}

.social-icon-wrapper * {
	color: theme_color('secondary');
}

.social-icon-wrapper fa-icon::ng-deep path {
	fill: theme_color('secondary');
}

.social-icon-wrapper fa-icon {
	font-size: 2em;
	margin: -0.2em;
}

.social-icon-wrapper .social-icon-desc{
	font-size: 0.6em;
}

div.social-icon-wrapper div.drop-container {
	background-color: darken(theme_color('primary'), 2);
	margin-bottom: 0.5em;
	padding: 0.3em;
}