@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@media print {
  body {
    width: 21cm !important;
    height: 29.7cm;
  }

  html body {
    min-width: 1200px !important;
  }
}