/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';
@import 'font-opensans.css';
@import 'font-roboto.css';
@import 'bootstrap-theme.scss';


@media print {
	@page { 
		size: 1920px 1280px;
		margin: 0mm; // added mm
	}
}


* {
	font-family: "Open Sans";
	color: $text-on-secondary;
}

@include media-breakpoint-down(lg){
	html body {
		padding: 2vh 2vh 2vh 3vh;
	}
}

.vl {
	margin: 0 !important;
    padding: 0 !important;
    border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
	min-height: 25px;
	align-self: stretch;
	height: unset !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "Roboto";
}

.drop-container {
	//box-shadow: $softdrop;
	border-radius: 6px;
	background-color: theme-color('primary');
	position: relative;
	-webkit-filter: $softdropwebkit;
	// -webkit-print-color-adjust:exact; 
}

.drop-container * {
	background-color: transparent;
}

.drop-container-content {
	padding: 1em;
}

body {
	background-color: theme-color('dark');
	padding: 2vh 10vh;
	height: 100%;
}

html {
	height: 100%;
}

.break-row {
	flex-basis: 100%;
	height: 0;
}