// using https://brumm.af/shadows
$softdrop:  0 4.5px 6.4px rgba(0, 0, 0, 0.015),
			0 12.5px 17.7px rgba(0, 0, 0, 0.024),
			0 30.1px 42.5px rgba(0, 0, 0, 0.036),
			0 100px 141px rgba(0, 0, 0, 0.07);

$softdropwebkit:drop-shadow(0 3.1px 1.9px rgba(0, 0, 0, 0.066))
				drop-shadow(0 8.5px 5.4px rgba(0, 0, 0, 0.086))
				drop-shadow(0 20.5px 13px rgba(0, 0, 0, 0.104))
				drop-shadow(0 68px 43px rgba(0, 0, 0, 0.15));

$harddrop:  0 1.1px 0.6px rgba(0, 0, 0, 0.022),
			0 2.5px 1.3px rgba(0, 0, 0, 0.029),
			0 4.2px 2.2px rgba(0, 0, 0, 0.034),
			0 6.5px 3.4px rgba(0, 0, 0, 0.037),
			0 9.6px 5px rgba(0, 0, 0, 0.04),
			0 14.1px 7.4px rgba(0, 0, 0, 0.044),
			0 21.1px 11px rgba(0, 0, 0, 0.05),
			0 33.6px 17.6px rgba(0, 0, 0, 0.058),
			0 63px 33px rgba(0, 0, 0, 0.07); 

$harddropwebkit:drop-shadow(0 1.1px 0.6px rgba(0, 0, 0, 0.018))
				drop-shadow(0 2.5px 1.3px rgba(0, 0, 0, 0.034))
				drop-shadow(0 4.2px 2.2px rgba(0, 0, 0, 0.048))
				drop-shadow(0 6.5px 3.4px rgba(0, 0, 0, 0.059))
				drop-shadow(0 9.6px 5px rgba(0, 0, 0, 0.069))
				drop-shadow(0 14.1px 7.4px rgba(0, 0, 0, 0.076))
				drop-shadow(0 21.1px 11px rgba(0, 0, 0, 0.084))
				drop-shadow(0 33.6px 17.6px rgba(0, 0, 0, 0.097))
				drop-shadow(0 63px 33px rgba(0, 0, 0, 0.15));

$lightdrop: 0 1.1px 0.6px rgba(255, 255, 255, 0.012),
			0 2px 1.3px rgba(255, 255, 255, 0.022),
			0 2.7px 2.3px rgba(255, 255, 255, 0.029),
			0 3.6px 3.9px rgba(255, 255, 255, 0.034),
			0 5.2px 6.3px rgba(255, 255, 255, 0.039),
			0 8.2px 11.1px rgba(255, 255, 255, 0.049),
			0 20px 24px rgba(255, 255, 255, 0.07);


$lightdropwebkit: 	drop-shadow(0 1.1px 0.6px rgba(255, 255, 255, 0.012))
					drop-shadow(0 2px 1.3px rgba(255, 255, 255, 0.022))
					drop-shadow(0 2.7px 2.3px rgba(255, 255, 255, 0.029))
					drop-shadow(0 3.6px 3.9px rgba(255, 255, 255, 0.034))
					drop-shadow(0 5.2px 6.3px rgba(255, 255, 255, 0.039))
					drop-shadow(0 8.2px 11.1px rgba(255, 255, 255, 0.049))
					drop-shadow(0 20px 24px rgba(255, 255, 255, 0.07));


$lighttextdrop: 0 0.8px 1.5px rgba(0, 0, 0, 0.068), 
				0 1.9px 3.7px rgba(0, 0, 0, 0.081), 
				0 3.6px 7px rgba(0, 0, 0, 0.088), 
				0 6.5px 12.5px rgba(0, 0, 0, 0.096), 
				0 12.1px 23.4px rgba(0, 0, 0, 0.107), 
				0 29px 56px rgba(0, 0, 0, 0.12);

$lighttextdropwebkit:  	drop-shadow(0 0.8px 1.5px rgba(0, 0, 0, 0.068))
						drop-shadow(0 1.9px 3.7px rgba(0, 0, 0, 0.081))
						drop-shadow(0 3.6px 7px rgba(0, 0, 0, 0.088))
						drop-shadow(0 6.5px 12.5px rgba(0, 0, 0, 0.096)) 
						drop-shadow(0 12.1px 23.4px rgba(0, 0, 0, 0.107)) 
						drop-shadow(0 29px 56px rgba(0, 0, 0, 0.12));

$hardtextdrop:  0 0.1px 0.2px rgba(0, 0, 0, 0.076),
				0 0.3px 0.6px rgba(0, 0, 0, 0.109),
				0 0.8px 1.1px rgba(0, 0, 0, 0.135),
				0 1.4px 2px rgba(0, 0, 0, 0.161),
				0 2.5px 3.8px rgba(0, 0, 0, 0.194),
				0 4px 9px rgba(0, 0, 0, 0.27);

$hardtextdropwebkit:drop-shadow(0 0.1px 0.2px rgba(0, 0, 0, 0.076))
					drop-shadow(0 0.3px 0.6px rgba(0, 0, 0, 0.109))
					drop-shadow(0 0.8px 1.1px rgba(0, 0, 0, 0.135))
					drop-shadow(0 1.4px 2px rgba(0, 0, 0, 0.161))
					drop-shadow(0 2.5px 3.8px rgba(0, 0, 0, 0.194))
					drop-shadow(0 4px 9px rgba(0, 0, 0, 0.27));


// 	box-shadow:
// 	0 3.1px 1.9px rgba(0, 0, 0, 0.066),
// 	0 8.5px 5.4px rgba(0, 0, 0, 0.086),
// 	0 20.5px 13px rgba(0, 0, 0, 0.104),
// 	0 68px 43px rgba(0, 0, 0, 0.15)
//   ;


// box-shadow:
//   0 0.8px 0.9px rgba(0, 0, 0, 0.064),
//   0 1.7px 1.9px rgba(0, 0, 0, 0.088),
//   0 3px 3.4px rgba(0, 0, 0, 0.103),
//   0 4.8px 5.4px rgba(0, 0, 0, 0.115),
//   0 7.3px 8.3px rgba(0, 0, 0, 0.126),
//   0 11.5px 13px rgba(0, 0, 0, 0.138),
//   0 19px 21.5px rgba(0, 0, 0, 0.156),
//   0 38px 43px rgba(0, 0, 0, 0.2)
// ;



$left-margin: 300px;

$content-margin: $left-margin + 80px;