// using https://brumm.af/shadows
$softdrop:  0 4.5px 6.4px rgba(0, 0, 0, 0.015),
			0 12.5px 17.7px rgba(0, 0, 0, 0.024),
			0 30.1px 42.5px rgba(0, 0, 0, 0.036),
			0 100px 141px rgba(0, 0, 0, 0.07);

$harddrop:  0 1.1px 0.6px rgba(0, 0, 0, 0.022),
			0 2.5px 1.3px rgba(0, 0, 0, 0.029),
			0 4.2px 2.2px rgba(0, 0, 0, 0.034),
			0 6.5px 3.4px rgba(0, 0, 0, 0.037),
			0 9.6px 5px rgba(0, 0, 0, 0.04),
			0 14.1px 7.4px rgba(0, 0, 0, 0.044),
			0 21.1px 11px rgba(0, 0, 0, 0.05),
			0 33.6px 17.6px rgba(0, 0, 0, 0.058),
			0 63px 33px rgba(0, 0, 0, 0.07); 

$lightdrop: 0 1.1px 0.6px rgba(255, 255, 255, 0.012),
			0 2px 1.3px rgba(255, 255, 255, 0.022),
			0 2.7px 2.3px rgba(255, 255, 255, 0.029),
			0 3.6px 3.9px rgba(255, 255, 255, 0.034),
			0 5.2px 6.3px rgba(255, 255, 255, 0.039),
			0 8.2px 11.1px rgba(255, 255, 255, 0.049),
			0 20px 24px rgba(255, 255, 255, 0.07);


$left-margin: 300px;

$content-margin: $left-margin + 20px;